@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    background-color: #f5f5f5;
}
/* Cabeçalho */
h2 {
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    color: #333;
}

/* Formulário */
form {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

p {
    font-weight: 600;
    margin: 20px 0 10px;
}

/* Inputs */
input[type="radio"] {
    margin-right: 10px;
    accent-color: #f47c3c;
    transform: scale(1.1);
    cursor: pointer;
}

label {
    cursor: pointer;
}

/* Botão */
button[type="submit"] {
    display: block;
    margin: 30px auto 0;
    background-color: #7e7e86;
    color: #fff;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #7e7e86;
}
